.panel, .tab{
    background-color: #212121;
    box-shadow: 0px 0px 15px 2px black;
    overflow: hidden;
}

.UI_hr_stripe{
    height: 2px;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.1);
    display: table;
    margin: auto;
}

/* #upper_panel{
    position: relative;
    z-index: 3;
} */

/*-------------------Tabs---------------------*/
.dropdown_tab{
    float: left;
    overflow: hidden;
}

.tab{
    width: 6%;
    position: absolute;
    z-index: 2;
}

.tab_label{
    padding: 0px 30px;
}

.tab_item{
    width: 100%;
    height: 35px;
    background-color: #212121;
    border: none;
    font-size: 95%;
    cursor: pointer;
    transition-duration: 0.3s;
}

.tab_item:hover{
    background-color: #141414;
}

#save_tab, #load_tab{
    left: 6%;
    width: 10%;
}
/*-------------document creator------------*/
#document_creator{
    width: 30%;
    height: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 1%;
    z-index: 2;
    position: absolute;
}

#document_creator .tab_item{
    width: 35%;
}

#document_creator p{
    display: inline-block;
    margin-right: 2%;
}

#document_creator input[type = "number"]{
    background-color: #141414;
    color: white;
    border: none;
    text-align: center;
    width: 15%;
    height: 25px;
    font-style: normal;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 100%;
    -moz-appearance: textfield;
}

#document_creator input[type = "number"]::-webkit-outer-spin-button,
#document_creator input[type = "number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*--------------------------------------------*/
canvas{
    background-color: white;
}

#canvas_holder{
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
}