.tools_grid{
    display: grid;
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat(auto, 40px);
}

.tools_grid span{
    line-height: 40px;
    text-align: center;
    transition-duration: 0.3s;
    cursor: pointer;
    user-select: none;
}

.tools_grid span:hover{
    background-color: #141414;
}