.layer_node{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}

.layer_node:hover{
    background-color: #141414;
}