.settings{
    width: 15%;
    padding: 15px;
    position: absolute;
    top: 25%;
    right: 0;
}

.settings p{
    display: inline-block;
    user-select: none;
}
.settings input[type = "number"]{
    background-color: #141414;
    color: white;
    border: none;
    text-align: center;
    width: 25%;
    height: 25px;
    font-style: normal;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 100%;
    -moz-appearance: textfield;
}