#color_preview{
    width: 60%;
    height: 35px;
    margin: 30% auto 10% auto;
    background-color: white;
    cursor: pointer;
}

.color_picker_custom{
    position: absolute;
    left: 90px !important;
    top: 25% !important;
    background-color: #212121;
    
}

.color_picker_custom .pcr-interaction .pcr-result{
    text-align: center;
    flex: 1 1 16em;
}