.layer_move{
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
}

.layer_move span svg{
    display: block;
}

.layer_move span{
    transition-duration: 0.3s;
}

.layer_move .move_up:hover{
    transform: translateY(-15%) scale(1.1);
}

.layer_move .move_down:hover{
    transform: translateY(15%) scale(1.1);
}