/*-------------------Tabs---------------------*/
#selected_tool_preview{
    float: right;
    margin-right: 3%;
    padding-top: 4px;
}
/*-------------document creator------------*/

/*--------------------------------------------*/

/*-------------------Panels-------------------*/
#right_panel{
    width: 15%;
    padding: 15px;
    position: absolute;
    top: 25%;
    right: 0;
}

#layer_panel{
    height: 300px;
}
/*--------------------------------------------*/